*{
  
  box-sizing: border-box;
}
main{width:480px;
  height:100%
}

body {
  width: 480px;
}

header {
border: 1px solid black;
text-align:center;
line-height: 75px;
height:75px;
width:100%;
background-color: lightgray;
}

section#big {
  height:150px;
  width:100%;
  text-align:center;
  line-height: 150px;
  border: 1px solid black;
  background-color: lightgray;
}

section.little {
  height:125px;
  width:100%;
  text-align:center;
  line-height: 125px;
  border: 1px solid black;
  background-color: lightgray;
}

div {
  text-align:center;
  width:240px;
  height:250px;
  line-height: 250px;
  border: 1px solid black;
  background-color: lightgray;
}

footer {
  border: 1px solid black;
  width: 100%;
  height:80px;
  text-align: center;
  line-height: 80px;
  background-color: lightgray;
}


@media only screen and (min-width: 962px){
  *{
    color: white;
    font-size: 5vw;
  }
  main {
    background-color: darkred;
    width: 100vw;
    height: 100vh;
  }

  header {
    background-color: black;
    height: 20vh;
    line-height: 20vh;
  }

  section#big {
    background-color: black;
  }

  section.little {
    height: 6vh;
    line-height:6vh ;
    background-color: black;
  }

  div {
    background-color:orange;
    color:black;
  }

  footer {
    background-color: black;
    height: 13vh;
    line-height: 13vh ;
    width: 100%;
  }
}

@media only screen and (min-width: 1026px){

  *{
    font-size: 3em;
    color:black;
  }
  main{
    width: 960px;
    height:700px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
  }

  body{  margin-left:auto;
    margin-right:auto;
    width:960px}

  header {
    height:100%;
    background-color: lightgreen;
    width:100%;
    line-height: 100%;
  }

  section#big{
    height:100%;
    width:100%;
    background-color: lightgreen;
    line-height:1200%;
  }

  section.little {
    height:100%;
    width: 200%;
    background-color: lightgreen;
    line-height: 400%;
  }

  div {
    height:100%;
    width:100%;
    background-color: lightgreen;
  }

  footer {
    height:208%;
      width:100%;
    line-height: 150px;
    background-color: lightgreen;
  }

}
