main {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-evenly;
}


@media only screen and (min-width: 1026px){
  main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 14% 28% 35% 21% ;
  }
  header {
    grid-column: 1/ span 5;
    grid-row: 1;
  }
  section#big {
    grid-column: 1;
    grid-row: 2/ span 4;
  }

  section#c {
    grid-column: 2;
    grid-row: 2;
  }
  section#d {
    grid-column: 4/5;
    grid-row: 2;
  }

  div#e {
    grid-column: 2;
    grid-row:3;
  }

  div#f {
    grid-column: 3;
    grid-row:3;
  }
  div#g {
    grid-column: 4;
    grid-row:3;
  }
  div#h {
    grid-column: 5;
    grid-row:3;
  }

  footer {
    grid-column: 2/ span 5;
    grid-row: 4;
  }
}